CompuRangers-UI/Web/Connected Services/WebService/AdminWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.compurangers.com" targetNamespace="http://services.compurangers.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getGananciaMes" type="tns:getGananciaMes" />
  <xs:element name="getGananciaMesResponse" type="tns:getGananciaMesResponse" />
  <xs:element name="getGananciasMensuales" type="tns:getGananciasMensuales" />
  <xs:element name="getGananciasMensualesResponse" type="tns:getGananciasMensualesResponse" />
  <xs:element name="getPedidosHoy" type="tns:getPedidosHoy" />
  <xs:element name="getPedidosHoyResponse" type="tns:getPedidosHoyResponse" />
  <xs:element name="getPedidosSemanal" type="tns:getPedidosSemanal" />
  <xs:element name="getPedidosSemanalResponse" type="tns:getPedidosSemanalResponse" />
  <xs:element name="getTotalHistorico" type="tns:getTotalHistorico" />
  <xs:element name="getTotalHistoricoResponse" type="tns:getTotalHistoricoResponse" />
  <xs:element name="searchAdmin" type="tns:searchAdmin" />
  <xs:element name="searchAdminResponse" type="tns:searchAdminResponse" />
  <xs:element name="updateAdmin" type="tns:updateAdmin" />
  <xs:element name="updateAdminResponse" type="tns:updateAdminResponse" />
  <xs:complexType name="getPedidosSemanal">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getPedidosSemanalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoPorDiaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoPorDiaDTO">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="dia" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchAdmin">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchAdminResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="admin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="created" type="tns:timestamp" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="updated" type="tns:timestamp" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="admin" type="tns:admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateAdminResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGananciasMensuales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getGananciasMensualesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gananciasPorMesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gananciasPorMesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ganancia" type="xs:decimal" />
      <xs:element minOccurs="0" name="mes" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidosHoy">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getPedidosHoyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTotalHistorico">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getTotalHistoricoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGananciaMes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getGananciaMesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>