CompuRangers-UI/Web/Connected Services/WebService/AdminWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.compurangers.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdminWS" targetNamespace="http://services.compurangers.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/AdminWS?xsd=1" namespace="http://services.compurangers.com" />
    </xsd:schema>
  </types>
  <message name="getGananciaMes">
    <part name="parameters" element="tns:getGananciaMes" />
  </message>
  <message name="getGananciaMesResponse">
    <part name="parameters" element="tns:getGananciaMesResponse" />
  </message>
  <message name="getTotalHistorico">
    <part name="parameters" element="tns:getTotalHistorico" />
  </message>
  <message name="getTotalHistoricoResponse">
    <part name="parameters" element="tns:getTotalHistoricoResponse" />
  </message>
  <message name="getPedidosHoy">
    <part name="parameters" element="tns:getPedidosHoy" />
  </message>
  <message name="getPedidosHoyResponse">
    <part name="parameters" element="tns:getPedidosHoyResponse" />
  </message>
  <message name="getPedidosSemanal">
    <part name="parameters" element="tns:getPedidosSemanal" />
  </message>
  <message name="getPedidosSemanalResponse">
    <part name="parameters" element="tns:getPedidosSemanalResponse" />
  </message>
  <message name="getGananciasMensuales">
    <part name="parameters" element="tns:getGananciasMensuales" />
  </message>
  <message name="getGananciasMensualesResponse">
    <part name="parameters" element="tns:getGananciasMensualesResponse" />
  </message>
  <portType name="AdminWS">
    <operation name="getGananciaMes">
      <input wsam:Action="http://services.compurangers.com/AdminWS/getGananciaMesRequest" message="tns:getGananciaMes" />
      <output wsam:Action="http://services.compurangers.com/AdminWS/getGananciaMesResponse" message="tns:getGananciaMesResponse" />
    </operation>
    <operation name="getTotalHistorico">
      <input wsam:Action="http://services.compurangers.com/AdminWS/getTotalHistoricoRequest" message="tns:getTotalHistorico" />
      <output wsam:Action="http://services.compurangers.com/AdminWS/getTotalHistoricoResponse" message="tns:getTotalHistoricoResponse" />
    </operation>
    <operation name="getPedidosHoy">
      <input wsam:Action="http://services.compurangers.com/AdminWS/getPedidosHoyRequest" message="tns:getPedidosHoy" />
      <output wsam:Action="http://services.compurangers.com/AdminWS/getPedidosHoyResponse" message="tns:getPedidosHoyResponse" />
    </operation>
    <operation name="getPedidosSemanal">
      <input wsam:Action="http://services.compurangers.com/AdminWS/getPedidosSemanalRequest" message="tns:getPedidosSemanal" />
      <output wsam:Action="http://services.compurangers.com/AdminWS/getPedidosSemanalResponse" message="tns:getPedidosSemanalResponse" />
    </operation>
    <operation name="getGananciasMensuales">
      <input wsam:Action="http://services.compurangers.com/AdminWS/getGananciasMensualesRequest" message="tns:getGananciasMensuales" />
      <output wsam:Action="http://services.compurangers.com/AdminWS/getGananciasMensualesResponse" message="tns:getGananciasMensualesResponse" />
    </operation>
  </portType>
  <binding name="AdminWSPortBinding" type="tns:AdminWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getGananciaMes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTotalHistorico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPedidosHoy">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPedidosSemanal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getGananciasMensuales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdminWS">
    <port name="AdminWSPort" binding="tns:AdminWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/AdminWS" />
    </port>
  </service>
</definitions>