CompuRangers-UI/Web/Connected Services/WebService/CarritoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.compurangers.com" targetNamespace="http://services.compurangers.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addItem" type="tns:addItem" />
  <xs:element name="addItemResponse" type="tns:addItemResponse" />
  <xs:element name="getCarritoFromUser" type="tns:getCarritoFromUser" />
  <xs:element name="getCarritoFromUserResponse" type="tns:getCarritoFromUserResponse" />
  <xs:element name="updateCarrito" type="tns:updateCarrito" />
  <xs:element name="updateCarritoResponse" type="tns:updateCarritoResponse" />
  <xs:complexType name="updateCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="carrito" type="tns:carrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carrito">
    <xs:sequence>
      <xs:element name="cantidadProductos" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:itemCarrito" />
      <xs:element name="total" type="xs:double" />
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemCarrito">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="carritoId" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="cantidadVendida" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenReferencial" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="marca" type="tns:marca" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioVenta" type="xs:double" />
      <xs:element minOccurs="0" name="sku" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoria" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subcategorias" nillable="true" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCarritoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCarritoFromUser">
    <xs:sequence>
      <xs:element name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCarritoFromUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemCarrito" type="tns:itemCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addItemResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>