CompuRangers-UI/Web/Connected Services/WebService/CarritoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.compurangers.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CarritoWS" targetNamespace="http://services.compurangers.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/CarritoWS?xsd=1" namespace="http://services.compurangers.com" />
    </xsd:schema>
  </types>
  <message name="updateCarrito">
    <part name="parameters" element="tns:updateCarrito" />
  </message>
  <message name="updateCarritoResponse">
    <part name="parameters" element="tns:updateCarritoResponse" />
  </message>
  <message name="getCarritoFromUser">
    <part name="parameters" element="tns:getCarritoFromUser" />
  </message>
  <message name="getCarritoFromUserResponse">
    <part name="parameters" element="tns:getCarritoFromUserResponse" />
  </message>
  <message name="addItem">
    <part name="parameters" element="tns:addItem" />
  </message>
  <message name="addItemResponse">
    <part name="parameters" element="tns:addItemResponse" />
  </message>
  <portType name="CarritoWS">
    <operation name="updateCarrito">
      <input wsam:Action="http://services.compurangers.com/CarritoWS/updateCarritoRequest" message="tns:updateCarrito" />
      <output wsam:Action="http://services.compurangers.com/CarritoWS/updateCarritoResponse" message="tns:updateCarritoResponse" />
    </operation>
    <operation name="getCarritoFromUser">
      <input wsam:Action="http://services.compurangers.com/CarritoWS/getCarritoFromUserRequest" message="tns:getCarritoFromUser" />
      <output wsam:Action="http://services.compurangers.com/CarritoWS/getCarritoFromUserResponse" message="tns:getCarritoFromUserResponse" />
    </operation>
    <operation name="addItem">
      <input wsam:Action="http://services.compurangers.com/CarritoWS/addItemRequest" message="tns:addItem" />
      <output wsam:Action="http://services.compurangers.com/CarritoWS/addItemResponse" message="tns:addItemResponse" />
    </operation>
  </portType>
  <binding name="CarritoWSPortBinding" type="tns:CarritoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="updateCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCarritoFromUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CarritoWS">
    <port name="CarritoWSPort" binding="tns:CarritoWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/CarritoWS" />
    </port>
  </service>
</definitions>