CompuRangers-UI/Web/Connected Services/WebService/CategoriaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.compurangers.com" targetNamespace="http://services.compurangers.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getAllCategorias" type="tns:getAllCategorias" />
  <xs:element name="getAllCategoriasResponse" type="tns:getAllCategoriasResponse" />
  <xs:complexType name="getAllCategorias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllCategoriasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoria" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subcategorias" nillable="true" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>