CompuRangers-UI/Web/Connected Services/WebService/InventoryWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.compurangers.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InventoryWS" targetNamespace="http://services.compurangers.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/InventoryWS?xsd=1" namespace="http://services.compurangers.com" />
    </xsd:schema>
  </types>
  <message name="getCatalog">
    <part name="parameters" element="tns:getCatalog" />
  </message>
  <message name="getCatalogResponse">
    <part name="parameters" element="tns:getCatalogResponse" />
  </message>
  <message name="reservarInventario">
    <part name="parameters" element="tns:reservarInventario" />
  </message>
  <message name="reservarInventarioResponse">
    <part name="parameters" element="tns:reservarInventarioResponse" />
  </message>
  <message name="getInvDisponible">
    <part name="parameters" element="tns:getInvDisponible" />
  </message>
  <message name="getInvDisponibleResponse">
    <part name="parameters" element="tns:getInvDisponibleResponse" />
  </message>
  <message name="getCantidadTotalDisponible">
    <part name="parameters" element="tns:getCantidadTotalDisponible" />
  </message>
  <message name="getCantidadTotalDisponibleResponse">
    <part name="parameters" element="tns:getCantidadTotalDisponibleResponse" />
  </message>
  <portType name="InventoryWS">
    <operation name="getCatalog">
      <input wsam:Action="http://services.compurangers.com/InventoryWS/getCatalogRequest" message="tns:getCatalog" />
      <output wsam:Action="http://services.compurangers.com/InventoryWS/getCatalogResponse" message="tns:getCatalogResponse" />
    </operation>
    <operation name="reservarInventario">
      <input wsam:Action="http://services.compurangers.com/InventoryWS/reservarInventarioRequest" message="tns:reservarInventario" />
      <output wsam:Action="http://services.compurangers.com/InventoryWS/reservarInventarioResponse" message="tns:reservarInventarioResponse" />
    </operation>
    <operation name="getInvDisponible">
      <input wsam:Action="http://services.compurangers.com/InventoryWS/getInvDisponibleRequest" message="tns:getInvDisponible" />
      <output wsam:Action="http://services.compurangers.com/InventoryWS/getInvDisponibleResponse" message="tns:getInvDisponibleResponse" />
    </operation>
    <operation name="getCantidadTotalDisponible">
      <input wsam:Action="http://services.compurangers.com/InventoryWS/getCantidadTotalDisponibleRequest" message="tns:getCantidadTotalDisponible" />
      <output wsam:Action="http://services.compurangers.com/InventoryWS/getCantidadTotalDisponibleResponse" message="tns:getCantidadTotalDisponibleResponse" />
    </operation>
  </portType>
  <binding name="InventoryWSPortBinding" type="tns:InventoryWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getCatalog">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reservarInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getInvDisponible">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCantidadTotalDisponible">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InventoryWS">
    <port name="InventoryWSPort" binding="tns:InventoryWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/InventoryWS" />
    </port>
  </service>
</definitions>