CompuRangers-UI/Web/Connected Services/WebService/ItemCarritoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.compurangers.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ItemCarritoWS" targetNamespace="http://services.compurangers.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/ItemCarritoWS?xsd=1" namespace="http://services.compurangers.com" />
    </xsd:schema>
  </types>
  <message name="getAllFromCarrito">
    <part name="parameters" element="tns:getAllFromCarrito" />
  </message>
  <message name="getAllFromCarritoResponse">
    <part name="parameters" element="tns:getAllFromCarritoResponse" />
  </message>
  <message name="deleteItem">
    <part name="parameters" element="tns:deleteItem" />
  </message>
  <message name="deleteItemResponse">
    <part name="parameters" element="tns:deleteItemResponse" />
  </message>
  <message name="updateItem">
    <part name="parameters" element="tns:updateItem" />
  </message>
  <message name="updateItemResponse">
    <part name="parameters" element="tns:updateItemResponse" />
  </message>
  <portType name="ItemCarritoWS">
    <operation name="getAllFromCarrito">
      <input wsam:Action="http://services.compurangers.com/ItemCarritoWS/getAllFromCarritoRequest" message="tns:getAllFromCarrito" />
      <output wsam:Action="http://services.compurangers.com/ItemCarritoWS/getAllFromCarritoResponse" message="tns:getAllFromCarritoResponse" />
    </operation>
    <operation name="deleteItem">
      <input wsam:Action="http://services.compurangers.com/ItemCarritoWS/deleteItemRequest" message="tns:deleteItem" />
      <output wsam:Action="http://services.compurangers.com/ItemCarritoWS/deleteItemResponse" message="tns:deleteItemResponse" />
    </operation>
    <operation name="updateItem">
      <input wsam:Action="http://services.compurangers.com/ItemCarritoWS/updateItemRequest" message="tns:updateItem" />
      <output wsam:Action="http://services.compurangers.com/ItemCarritoWS/updateItemResponse" message="tns:updateItemResponse" />
    </operation>
  </portType>
  <binding name="ItemCarritoWSPortBinding" type="tns:ItemCarritoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getAllFromCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ItemCarritoWS">
    <port name="ItemCarritoWSPort" binding="tns:ItemCarritoWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/ItemCarritoWS" />
    </port>
  </service>
</definitions>