CompuRangers-UI/Web/Connected Services/WebService/LogWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://user.webservice.compurangers.com/" targetNamespace="http://user.webservice.compurangers.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addLog" type="tns:addLog" />
  <xs:element name="addLogResponse" type="tns:addLogResponse" />
  <xs:complexType name="addLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="log" type="tns:log" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="log">
    <xs:sequence>
      <xs:element minOccurs="0" name="accion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addLogResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>