CompuRangers-UI/Web/Connected Services/WebService/MarcaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.compurangers.com" targetNamespace="http://services.compurangers.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getAllMarcas" type="tns:getAllMarcas" />
  <xs:element name="getAllMarcasResponse" type="tns:getAllMarcasResponse" />
  <xs:complexType name="getAllMarcas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllMarcasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>