CompuRangers-UI/Web/Connected Services/WebService/OrdenDeVentaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.compurangers.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrdenDeVentaWS" targetNamespace="http://services.compurangers.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/OrdenDeVentaWS?xsd=1" namespace="http://services.compurangers.com" />
    </xsd:schema>
  </types>
  <message name="deleteOrden">
    <part name="parameters" element="tns:deleteOrden" />
  </message>
  <message name="deleteOrdenResponse">
    <part name="parameters" element="tns:deleteOrdenResponse" />
  </message>
  <message name="getAllOrdenesFromUser">
    <part name="parameters" element="tns:getAllOrdenesFromUser" />
  </message>
  <message name="getAllOrdenesFromUserResponse">
    <part name="parameters" element="tns:getAllOrdenesFromUserResponse" />
  </message>
  <message name="addOrden">
    <part name="parameters" element="tns:addOrden" />
  </message>
  <message name="addOrdenResponse">
    <part name="parameters" element="tns:addOrdenResponse" />
  </message>
  <portType name="OrdenDeVentaWS">
    <operation name="deleteOrden">
      <input wsam:Action="http://services.compurangers.com/OrdenDeVentaWS/deleteOrdenRequest" message="tns:deleteOrden" />
      <output wsam:Action="http://services.compurangers.com/OrdenDeVentaWS/deleteOrdenResponse" message="tns:deleteOrdenResponse" />
    </operation>
    <operation name="getAllOrdenesFromUser">
      <input wsam:Action="http://services.compurangers.com/OrdenDeVentaWS/getAllOrdenesFromUserRequest" message="tns:getAllOrdenesFromUser" />
      <output wsam:Action="http://services.compurangers.com/OrdenDeVentaWS/getAllOrdenesFromUserResponse" message="tns:getAllOrdenesFromUserResponse" />
    </operation>
    <operation name="addOrden">
      <input wsam:Action="http://services.compurangers.com/OrdenDeVentaWS/addOrdenRequest" message="tns:addOrden" />
      <output wsam:Action="http://services.compurangers.com/OrdenDeVentaWS/addOrdenResponse" message="tns:addOrdenResponse" />
    </operation>
  </portType>
  <binding name="OrdenDeVentaWSPortBinding" type="tns:OrdenDeVentaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="deleteOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllOrdenesFromUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addOrden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OrdenDeVentaWS">
    <port name="OrdenDeVentaWSPort" binding="tns:OrdenDeVentaWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/OrdenDeVentaWS" />
    </port>
  </service>
</definitions>