CompuRangers-UI/Web/Connected Services/WebService/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.compurangers.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWS" targetNamespace="http://services.compurangers.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/ProductoWS?xsd=1" namespace="http://services.compurangers.com" />
    </xsd:schema>
  </types>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="searchProductoID">
    <part name="parameters" element="tns:searchProductoID" />
  </message>
  <message name="searchProductoIDResponse">
    <part name="parameters" element="tns:searchProductoIDResponse" />
  </message>
  <message name="addProducto">
    <part name="parameters" element="tns:addProducto" />
  </message>
  <message name="addProductoResponse">
    <part name="parameters" element="tns:addProductoResponse" />
  </message>
  <message name="getProductosFiltrados">
    <part name="parameters" element="tns:getProductosFiltrados" />
  </message>
  <message name="getProductosFiltradosResponse">
    <part name="parameters" element="tns:getProductosFiltradosResponse" />
  </message>
  <message name="getRanking">
    <part name="parameters" element="tns:getRanking" />
  </message>
  <message name="getRankingResponse">
    <part name="parameters" element="tns:getRankingResponse" />
  </message>
  <message name="updateProducto">
    <part name="parameters" element="tns:updateProducto" />
  </message>
  <message name="updateProductoResponse">
    <part name="parameters" element="tns:updateProductoResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="listarProductos">
      <input wsam:Action="http://services.compurangers.com/ProductoWS/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="http://services.compurangers.com/ProductoWS/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="searchProductoID">
      <input wsam:Action="http://services.compurangers.com/ProductoWS/searchProductoIDRequest" message="tns:searchProductoID" />
      <output wsam:Action="http://services.compurangers.com/ProductoWS/searchProductoIDResponse" message="tns:searchProductoIDResponse" />
    </operation>
    <operation name="addProducto">
      <input wsam:Action="http://services.compurangers.com/ProductoWS/addProductoRequest" message="tns:addProducto" />
      <output wsam:Action="http://services.compurangers.com/ProductoWS/addProductoResponse" message="tns:addProductoResponse" />
    </operation>
    <operation name="getProductosFiltrados">
      <input wsam:Action="http://services.compurangers.com/ProductoWS/getProductosFiltradosRequest" message="tns:getProductosFiltrados" />
      <output wsam:Action="http://services.compurangers.com/ProductoWS/getProductosFiltradosResponse" message="tns:getProductosFiltradosResponse" />
    </operation>
    <operation name="getRanking">
      <input wsam:Action="http://services.compurangers.com/ProductoWS/getRankingRequest" message="tns:getRanking" />
      <output wsam:Action="http://services.compurangers.com/ProductoWS/getRankingResponse" message="tns:getRankingResponse" />
    </operation>
    <operation name="updateProducto">
      <input wsam:Action="http://services.compurangers.com/ProductoWS/updateProductoRequest" message="tns:updateProducto" />
      <output wsam:Action="http://services.compurangers.com/ProductoWS/updateProductoResponse" message="tns:updateProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchProductoID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getProductosFiltrados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRanking">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/ProductoWS" />
    </port>
  </service>
</definitions>