CompuRangers-UI/Web/Connected Services/WebService/TokenRecuperacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.compurangers.com" targetNamespace="http://services.compurangers.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="searchToken" type="tns:searchToken" />
  <xs:element name="searchTokenResponse" type="tns:searchTokenResponse" />
  <xs:complexType name="searchToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tokenRecuperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tokenRecuperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaExpiracion" type="tns:localDateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
      <xs:element name="usado" type="xs:boolean" />
      <xs:element name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
</xs:schema>