CompuRangers-UI/Web/Connected Services/WebService/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.compurangers.com" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://services.compurangers.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebService/UsuarioWS?xsd=1" namespace="http://services.compurangers.com" />
    </xsd:schema>
  </types>
  <message name="changePassword">
    <part name="parameters" element="tns:changePassword" />
  </message>
  <message name="changePasswordResponse">
    <part name="parameters" element="tns:changePasswordResponse" />
  </message>
  <message name="getRole">
    <part name="parameters" element="tns:getRole" />
  </message>
  <message name="getRoleResponse">
    <part name="parameters" element="tns:getRoleResponse" />
  </message>
  <message name="updateUsuario">
    <part name="parameters" element="tns:updateUsuario" />
  </message>
  <message name="updateUsuarioResponse">
    <part name="parameters" element="tns:updateUsuarioResponse" />
  </message>
  <message name="forgotPassword">
    <part name="parameters" element="tns:forgotPassword" />
  </message>
  <message name="forgotPasswordResponse">
    <part name="parameters" element="tns:forgotPasswordResponse" />
  </message>
  <message name="searchUsuario">
    <part name="parameters" element="tns:searchUsuario" />
  </message>
  <message name="searchUsuarioResponse">
    <part name="parameters" element="tns:searchUsuarioResponse" />
  </message>
  <message name="deleteUsuario">
    <part name="parameters" element="tns:deleteUsuario" />
  </message>
  <message name="deleteUsuarioResponse">
    <part name="parameters" element="tns:deleteUsuarioResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="changePassword">
      <input wsam:Action="http://services.compurangers.com/UsuarioWS/changePasswordRequest" message="tns:changePassword" />
      <output wsam:Action="http://services.compurangers.com/UsuarioWS/changePasswordResponse" message="tns:changePasswordResponse" />
    </operation>
    <operation name="getRole">
      <input wsam:Action="http://services.compurangers.com/UsuarioWS/getRoleRequest" message="tns:getRole" />
      <output wsam:Action="http://services.compurangers.com/UsuarioWS/getRoleResponse" message="tns:getRoleResponse" />
    </operation>
    <operation name="updateUsuario">
      <input wsam:Action="http://services.compurangers.com/UsuarioWS/updateUsuarioRequest" message="tns:updateUsuario" />
      <output wsam:Action="http://services.compurangers.com/UsuarioWS/updateUsuarioResponse" message="tns:updateUsuarioResponse" />
    </operation>
    <operation name="forgotPassword">
      <input wsam:Action="http://services.compurangers.com/UsuarioWS/forgotPasswordRequest" message="tns:forgotPassword" />
      <output wsam:Action="http://services.compurangers.com/UsuarioWS/forgotPasswordResponse" message="tns:forgotPasswordResponse" />
    </operation>
    <operation name="searchUsuario">
      <input wsam:Action="http://services.compurangers.com/UsuarioWS/searchUsuarioRequest" message="tns:searchUsuario" />
      <output wsam:Action="http://services.compurangers.com/UsuarioWS/searchUsuarioResponse" message="tns:searchUsuarioResponse" />
    </operation>
    <operation name="deleteUsuario">
      <input wsam:Action="http://services.compurangers.com/UsuarioWS/deleteUsuarioRequest" message="tns:deleteUsuario" />
      <output wsam:Action="http://services.compurangers.com/UsuarioWS/deleteUsuarioResponse" message="tns:deleteUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="changePassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRole">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="forgotPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/WebService/UsuarioWS" />
    </port>
  </service>
</definitions>