CompuRangers-UI/Web/Connected Services/WebService/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.compurangers.com" targetNamespace="http://services.compurangers.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="changePassword" type="tns:changePassword" />
  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
  <xs:element name="deleteUsuario" type="tns:deleteUsuario" />
  <xs:element name="deleteUsuarioResponse" type="tns:deleteUsuarioResponse" />
  <xs:element name="forgotPassword" type="tns:forgotPassword" />
  <xs:element name="forgotPasswordResponse" type="tns:forgotPasswordResponse" />
  <xs:element name="getRole" type="tns:getRole" />
  <xs:element name="getRoleResponse" type="tns:getRoleResponse" />
  <xs:element name="searchUsuario" type="tns:searchUsuario" />
  <xs:element name="searchUsuarioResponse" type="tns:searchUsuarioResponse" />
  <xs:element name="updateUsuario" type="tns:updateUsuario" />
  <xs:element name="updateUsuarioResponse" type="tns:updateUsuarioResponse" />
  <xs:complexType name="deleteUsuario">
    <xs:sequence>
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forgotPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forgotPasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="created" type="tns:timestamp" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="updated" type="tns:timestamp" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="tokenId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchUsuario">
    <xs:sequence>
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRole">
    <xs:sequence>
      <xs:element name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRoleResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>